@font-face {
    font-family: SuperMario;
    src: url(SuperMario256.ttf);
  }

  @font-face {
    font-family: HalloweenSlime;
    src: url(HalloweenSlimePersonalUse-4B80D.otf);
  }

.title{
    font-family: HalloweenSlime;
    text-align: center;
    font-size: 65px;
    margin: 3pt 0 0 0;
}   

.authors{
    text-align: center;
    margin: 0;
    font-size: 20px;
    font-family: HalloweenSlime;
}

.text-font-center{
    text-align: center;
    font-family: SuperMario, Helvetica, sans-serif;
}

.difficulty-text{
    padding-top: 37px;
    font-size: 20px;
}


.settings-title{
    height: fit-content;
    font-size: 22px;
}

.start-text{
    padding-top: 30px;
}

.vs-text{
    padding-top: 30px;
    font-size: 20px;
}
